<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Join Classroom</title>
  <link rel="stylesheet" type="text/css" href="/public/css/join&create.css">

</head>
<body>
  <h1>Join Classroom</h1>
  <form method="post" action="/classrooms/join">
    <label for="code">Classroom Code:</label>
    <input type="text" id="code" name="code" required>
    <br>
    <button type="submit">Join</button>
  </form>
</body>
</html>
